.statistics {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc;
    margin: 30px auto 30px auto;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.item {
    flex-basis: calc(100% / 5);
    text-align: center;
    padding: 10px;
    border: 1px solid #9c9c9c;
}

.label,
.percentage {
    display: block;
    color: #000000;
}

.percentage {
    font-weight: 700;
}